table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
th {
  text-align: left;
}
table {
  border-spacing: 5px;
}
td#t01 {
  width: 100%;
  background-color: #ffffff;
}
td#t02 {
  width: 100%;
  background-color:#ecf9f2;
}
td#t03 {
  width: 100%;
  background-color: #d9f2e6;
}
td#t04 {
  width: 100%;
  background-color: #c6ecd9;
}
td#t05{
  width: 100%;
  background-color:#b3e6cc;
}
td#t06{
  width: 100%;
  background-color:#9fdfbf;
}
td#t07{
  width: 100%;
  background-color:#8cd9b3;
}
td#t08{
  width: 100%;
  background-color: #79d2a6;
}
td#t09{
  width: 100%;
  background-color: #66cc99;
}
td#t010{
  width: 100%;
  background-color: #53c68c;
}
td#t011{
  width: 100%;
  background-color:#40bf80;
}
td#t012{
  width: 100%;
  background-color: #39ac73;
}
td#t013{
  width: 100%;
  background-color: #339966;
}
td#t014{
  width: 100%;
  background-color:#2d8659;
}
td#t015{
  width: 100%;
  background-color: #26734d;
}
td#t016{
  width: 100%;
  background-color:#206040;
}
td#t017{
  width: 100%;
  background-color: #194d33;
}
td#t018{
  width: 100%;
  background-color:#133926;
}
td#t019{
  width: 100%;
  background-color:#0d261a;
}
td#t020{
  width: 100%;
  background-color: #06130d;
}
td#t021{
  width: 100%;
  background-color:#000000;
}
